<!doctype html>
<head>
<title>Rawgs to Riches</title>
 <h2>This is the Rawgs to Riches Header. </h2>
 <hr>

<!-- Import the JS file from the Highcharts website... not working at -->
<!-- the moment, though.  --> 

<!--
<script src="graphboss.js"> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src="/js/highcharts.js" type="text/javascript"></script>
-->


</head> 
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}
